.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:cyan;
}
.card{
    background-color: #fff;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    transition: all 0.3s;
}
@media (max-width:1000px){
    .card{
        width: 450px;
    }
}
@media (max-width:700px){
    .card{
        width: 350px;
    }
}
.heading{
    text-align: center;
    color: burlywood;
}
.input_field{
    margin-top: 20px;
    position: relative;
}
.passEye{
    position: absolute;
    top: 32px;
    right: 8px;
    cursor: pointer;
    color: grey;
    font-size: 10px !important; 
}
input[type='text']{
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    padding:0 5px;
    outline: 0;
    border: 1px solid #ccc;
    transition: all 0.3s;
    padding:0 37px 0 5px;
}
input[type='password']{
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    padding:0 35px 0 5px;
    outline: 0;
    border: 1px solid #ccc;
    transition: all 0.3s;
}
input:focus{
    border: 1px solid blue;
}
.textHeading{
    color: grey;
}
.button{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    width: 30%;
    text-transform: capitalize !important;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.footer_text{
    color: gray;
}
.error{
    color: red;
}

